<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/main.css">
    <title>IMDB top 250</title>
</head>
    {{#each movies}}
        <ul class="movie-tile">
            <li class="title">{{this.title}}</li>
            <li class="director">{{this.director}}</li>
            <li class="year">{{this.year}}</li>
        </ul>
    {{/each}}
</html>

